services:
  mongodb:
    image: mongo
    container_name: mongo-database
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongo-data:/data/db
      - ./mongo-init:/docker-entrypoint-initdb.d
    networks:
      - microservices
    
  rabbitmq:
    image: rabbitmq:3.11-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"
      - "15672:15672" 
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    restart: unless-stopped
    networks:
      - microservices

  calificacion:
    build: ./Ranking
    container_name: calificacion
    depends_on:
      - mongodb
      - rabbitmq
    environment:
      - PORT=4000
      - MONGO_URL=mongodb://admin:admin@mongodb:27017/calificacion_db?authSource=admin
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - RABBITMQ_EXCHANGE=ratings
      - RABBITMQ_EXCHANGE_TYPE=topic
    ports:
      - "4000:4000"
    restart: unless-stopped
    networks:
      - microservices

  opiniones:
    build: ./Opinions
    container_name: opiniones
    depends_on:
      - mongodb
      - rabbitmq
    environment:
      - PORT=4100
      - MONGO_URL=mongodb://admin:admin@mongodb:27017/calificacion_db?authSource=admin
      - RABBITMQ_URL=amqp://rabbitmq:5672
      - RABBITMQ_EXCHANGE=ratings
      - QUEUE_NAME=opinions_queue
    ports:
      - "4100:4100"
    restart: unless-stopped
    networks:
      - microservices

networks:
  microservices:
    driver: bridge

volumes:
  mongo-data:
    driver: local
  rabbitmq_data:
    driver: local